<header>
  <nav class="bg-gray-800 text-white">
    <div class="container mx-auto flex justify-between items-center py-4">
      <h1>Doctor S</h1>
      <ul class="flex items-center gap-5">
        <li><a href="/users/add-hospital">kasal qo'shish</a></li>
        <li><a href="/main">Kasallar</a></li>
      </ul>
    </div>
  </nav>
</header>
